<!DOCTYPE html>
<html>
  <head>
    <title>CartBuy2</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300|Raleway:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= render "common/header" %>
      <%= yield %>
  </body>
</html>
